services:
  fund_strategies_service:
    build: .
    container_name: fund_strategies_service
    env_file:
      - .env.prod
    ports:
      - "8889:8888"
    command: >
      sh -c "python -m uvicorn src.python_cli_starter.main:api_app --host 0.0.0.0 --port 8888"
    restart: unless-stopped
    networks:
      - shared_app_net

networks:
  shared_app_net:
    external: true
    name: shared-db-network